{%extends 'base.html' %} {% block content %}
<div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{movie.image.url}}" class="img-fluid rounded-start" alt="" />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-tile">{{movie.title}}</h5>
        <p class="card-text">{{movie.description}}</p>
        <small class="card-text">ID: {{movie.id}}</small>
        {% if movie.url %}
        <p class="card-text">
          <a href="{{movie.url}}" class="btn btn-primary">Movie Link</a>
        </p>
        {% endif %} {% if user.is_authenticated %}
        <a href="{% url 'add-review' movie.id %}" class="btn btn-info">
          Add Review
        </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{%endblock content %}
